@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-track:hover {
    background-color: #ffffff;
  }
  * {
    box-sizing: border-box;
  }
}

@layer components {
  .container-wider {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1250px;
  }
  .container-tighter {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1100px;
  }
  .dim {
    opacity: 80%;
  }
  .docs-container {
    margin: 0 auto;
    max-width: 1355px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .docs-content-padding {
    padding-left: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .github-background-img {
    background: url("./assets/home/icons/github-background-icon.svg") no-repeat
      right bottom/cover;
    background-size: 60%;
    background-position-x: 150%;
    background-position-y: 70%;
  }
}
